In [240]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
accounting = pd.read_csv('accounting-commerce-economics.csv')

#accounting = accounting.drop_duplicates()

In [242]:
section_group = accounting.section.value_counts().reset_index()
section_group

                                              section  count
0                                Standard study plans    574
1                        Program electives - Business    231
2                                     Rules and notes    163
3                                        Program core    154
4                             Program core selectives    120
5                                         Common core    108
6                                   Program electives     86
7                                           Electives     61
8                                        Core courses     58
9                                     Elective - Open     40
10  Program electives - Procurement and Supply Cha...     30
11                         Program electives - year 3     20
12       Program electives - Project Management major     20
13                          Major courses - selective     18
14                         Program electives - year 1     12
15     Program electives - Marketing and Design major     10
16  Progam electives -  Marketing and Communicatio...     10
17                           Program electives Year 3     10
18                         Program electives - year 2     10
19                            Major selective courses      8
20                             Core selective courses      7
21                                 Major core courses      5
22                                      Major courses      5
23                           Program electives Year 4      5
24                                 Discipline courses      4
25                           Program core - selective      4
26                           Program electives Year 1      3
27                           Program electives Year 2      3
28                       Discipline selective courses      2

In [244]:
course_code_group = accounting.course_code.value_counts().reset_index()

In [248]:
course_code_group.head(10)

  course_code  count
0           -    188
1    ECON1000     31
2    MARK3023     21
3    ECON1012     21
4    ECON1010     18
5    MARK1013     18
6    BUSI2019     18
7    COREX006     17
8    COREX005     17
9    COREX004     17

In [250]:
accounting.degree.unique()

array(['Bachelor of Accounting', 'Bachelor of Business',
       'Bachelor of Business (Economics, Finance and Trade)',
       'Bachelor of Business (Financial Planning)',
       'Bachelor of Business (Management)',
       'Bachelor of Business majoring in Digital Business',
       'Bachelor of Business majoring in Human Resource Management',
       'Bachelor of Business majoring in Innovation, Entrepreneurship and Strategy',
       'Bachelor of Business majoring in International Business',
       'Bachelor of Business majoring in Management',
       'Bachelor of Business majoring in Marketing',
       'Bachelor of Business majoring in Marketing and Design',
       'Bachelor of Business majoring in Procurement and Supply Chain Management',
       'Bachelor of Business majoring in Project Management',
       'Bachelor of Commerce majoring in Accounting',
       'Bachelor of Commerce majoring in Banking and Finance',
       'Bachelor of Commerce majoring in Business Analytics',
       'Bachelor of Commerce majoring in Financial Planning',
       'Bachelor of Commerce majoring in Property',
       'Bachelor of Digital Business', 'Bachelor of Economics',
       'Bachelor of Economics (Honours)',
       'Bachelor of Economics majoring in Advanced Analysis',
       'Bachelor of International Business',
       'Bachelor of Philosophy, Politics and Economics'], dtype=object)

In [252]:
accounting.degree.nunique()

25

In [254]:
accounting[accounting.course_code == 'MARK3023']

,degree,section,course_code,course_name
192,Bachelor of Business,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
193,Bachelor of Business,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
619,Bachelor of Business majoring in Digital Business,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
620,Bachelor of Business majoring in Digital Business,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
671,Bachelor of Business majoring in Human Resourc...,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
672,Bachelor of Business majoring in Human Resourc...,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
727,"Bachelor of Business majoring in Innovation, E...",Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
728,"Bachelor of Business majoring in Innovation, E...",Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
779,Bachelor of Business majoring in International...,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
780,Bachelor of Business majoring in International...,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
831,Bachelor of Business majoring in Management,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
832,Bachelor of Business majoring in Management,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
862,Bachelor of Business majoring in Marketing,Rules and notes,MARK3023,Service Design and Marketing
883,Bachelor of Business majoring in Marketing,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
884,Bachelor of Business majoring in Marketing,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
936,Bachelor of Business majoring in Marketing and...,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
937,Bachelor of Business majoring in Marketing and...,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
988,Bachelor of Business majoring in Procurement a...,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
989,Bachelor of Business majoring in Procurement a...,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing
1039,Bachelor of Business majoring in Project Manag...,Progam electives - Marketing and Communicatio...,MARK3023,Service Design and Marketing
1040,Bachelor of Business majoring in Project Manag...,Program electives - Marketing and Design major,MARK3023,Service Design and Marketing

In [256]:
rnn = accounting[accounting['section'] == 'Rules and notes']
rnn

,degree,section,course_code,course_name
172,Bachelor of Business,Rules and notes,BUSI1005,eChallenge
173,Bachelor of Business,Rules and notes,BUSI2900,WIL/ Profession
174,Bachelor of Business,Rules and notes,BUSI2901,WIL / Profession
175,Bachelor of Business,Rules and notes,BUSI2007,Business Lifecycles
176,Bachelor of Business,Rules and notes,BUSI2390,WIL (Procurement and Supply Chain Management)
...,...,...,...,...
1025,Bachelor of Business majoring in Project Manag...,Rules and notes,SPOR3900,Sport Practicum 2
1026,Bachelor of Business majoring in Project Manag...,Rules and notes,MARK3900,Integrated Marketing
1027,Bachelor of Business majoring in Project Manag...,Rules and notes,MDIA3016,Strategic Communication in Practice
1028,Bachelor of Business majoring in Project Manag...,Rules and notes,PROJ2900,WIL
1029,Bachelor of Business majoring in Project Manag...,Rules and notes,PROJ3000,Project Management Professional Practice

In [258]:
rnn[rnn['degree'] == 'Bachelor of Business']

,degree,section,course_code,course_name
172,Bachelor of Business,Rules and notes,BUSI1005,eChallenge
173,Bachelor of Business,Rules and notes,BUSI2900,WIL/ Profession
174,Bachelor of Business,Rules and notes,BUSI2901,WIL / Profession
175,Bachelor of Business,Rules and notes,BUSI2007,Business Lifecycles
176,Bachelor of Business,Rules and notes,BUSI2390,WIL (Procurement and Supply Chain Management)
177,Bachelor of Business,Rules and notes,SPOR2900,Sport Practicum 1
178,Bachelor of Business,Rules and notes,SPOR3900,Sport Practicum 2
179,Bachelor of Business,Rules and notes,MARK3900,Integrated Marketing
180,Bachelor of Business,Rules and notes,MDIA3016,Strategic Communication in Practice
181,Bachelor of Business,Rules and notes,PROJ2900,WIL
182,Bachelor of Business,Rules and notes,PROJ3000,Project Management Professional Practice

In [262]:
rnn[rnn['degree'] == 'Bachelor of Business majoring in Marketing'].count()

degree         19
section        19
course_code    19
course_name    19
dtype: int64

### Comments about the scrapper
- Classifying 'Major courses' and 'Work integrated learning' as Rules and notes under Section
- Normal degrees without major has an column called 'Major' instead of 'Major courses', skipping these are fine, which is the scraper is already doing